DOWNLOAD SWI-Prolog installer: 
https://www.swi-prolog.org/download/stable

DOWNLOAD Git:
https://git-scm.com/install/windows

Github:
Fork repository


VS CODE Terminal: 
git clone [insert repo name]
cd repo name
python -m venv venv
venv\Scripts\activate
pip install flask
pip instal flask-cors
pip install pyswip
pip install request

Run this into seperate powershell:
python app.py
python ui.py